* {
  box-sizing: border-box;
}

body {
  margin: 0;
  background: #eaeaea;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

#book {
  width: 900px;
  height: 650px;
  background: #fff;
  box-shadow: 0 10px 30px rgba(0,0,0,.3);
}

/* VIDEO SAYFA = JPG BOYUTUNDA */
.stf__item video {
  width: 100%;
  height: 100%;
  object-fit: contain; /* JPG gibi */
}
